$color-modal-bg: rgba(0, 0, 0, 0.8);
$color-war: #da4747;
$color-culture: #0085ff;
$color-science: #009334;
$color-science-faded: rgba(206, 255, 223, 1);
$color-trade: #f9f871;
$color-black: #1f1f1f;
$color-leaders: #99aae0;
$color-guilds: #9268ff;
$color-wonders: #aa7f00;
$color-coin-border: #dc6200;